.password-change-page-area {
    height: 100%;
    background: #000;
}
.logo_area_container {
    margin-top: 4%;
}
.title_area_container {
    margin: 40px auto;
}
.password-change-form-container {
    max-width: 480px;
}
.title-text {
    color: #50c433;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    line-height: 32px;
    margin-bottom: 20px;
}
.waring-text {
    color: #ffffffe0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    word-spacing: 0.1px;
    line-height: 20px;
}
.newPassword, .confrimPassword {
    background: transparent;
    border: 1px solid #50c433;
    width: 85%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    margin-bottom: 18px;
    border-radius: 8px;
    padding: 0px 46px 0px 34px;
    text-transform: capitalize;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    font-weight: 300;
}
.changePasswordBtn {
    background: #50c433;
    width: 100%;
    border: none;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
    word-spacing: 6px;
    margin-top: 40px;
    border-radius: 10px;
    font-weight: 600;
}
.password-change-form-container .input-group {
    display: block;
}
.password-change-icons {
    position: absolute;
    color: #50c433;
    font-size: 16px;
    left: 47px;
    top: 11px;
}
.show_btn, .hide_btn {
    color: #de4242;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    right: 48px;
    top: 15px;
    cursor: pointer;
}
.hide_btn{
    display: none;
}
.newPassword:focus, .confrimPassword:focus , .changePasswordBtn:focus{
    outline: none;
}
.password_change_error_text_area {
    position: absolute;
    margin-top: -6px;
    left: 44px;
}
.password_change_error {
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 12px!important;
    display: none;
}
.password_change_error i {
    color: #d61212;
    font-size: 16px;
    margin-right: 4px;
}
.right-vector {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -9999;
}
.left-vector {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: -9999;
}
.password-change-form-container ,.title_area_container ,.logo_area_container{
    z-index: 9999;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .logo_area_section img {
        max-width: 240px;
    }
    .password-change-form-container {
        max-width: 100%;
    }
    .password-change-icons {
        left: 36px;
    }
    .show_btn, .hide_btn {
        right: 37px;
        top: 16px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

}